:root {
    // font-sizes
    --fz-b-lrg: 4rem;
    --fz-lrg: 1.875rem;

    --fz-b-mid: 2.4rem;
    --fz-mid: 1.25rem;

    --fz-b-reg: 1.125rem;
    --fz-reg: 1rem;

    //
    --fw-sbd: 600;
    --fw-mid: 500;


    // colors
    --clr-primary: #0743fd;
    --clr-white: #fff;
    --clr-text-primary: #333;
    --clr-text-secondary: #666;

    --radius: .625rem;
}