:root {
    // font-sizes
    --fz-xl: 4rem; // biggest large size
    --fz-lg: 3rem; // smallest large size

    --fz-mdl: 2.5rem; // biggest medium size
    --fz-md: 1.875rem; // medium size
    --fz-mds: 1.5rem; // smallest medium size

    --fz-ms: 1.25rem; // biggest small size
    --fz-sm: 1.125rem; // small size
    --fz-xs: 1rem; // smallest small size

    // test
    // --fz-xl: 6.4rem; // biggest large size
    // --fz-lg: 4.8rem; // smallest large size

    // --fz-mdl: 4rem; // biggest medium size
    // --fz-md: 3rem; // medium size
    // --fz-mds: 2.4rem; // smallest medium size

    // --fz-ms: 2rem; // biggest small size
    // --fz-sm: 1.8rem; // small size
    // --fz-xs: 1.6rem; // smallest small size

    // font-weights
    --fw-sbd: 600;
    --fw-mid: 500;
    --fw-reg: 400;
    --fw-xsm: 300;

    // colors
    --clr-primary: #0743fd;
    --clr-white: #fff;
    --clr-grey: #f2f2f2;
    --clr-text-primary: #333;
    --clr-text-secondary: #666;

    // utils
    --radius: .625rem;
    --font-size: 16px;
}